## 1. 변수(Variable)의 정의
    - 임시 기억(저장)공간...주기억장치(RAM)은 휘발성
     
## 2. 변수의 특징
 - 묵시적 선언
 - 동적 바인딩 (실행할 때 형식이 결정)
 - immutable(불변성. 값이 있는 주소를 저장)
 - 수정 가능성에 대한 분류
     + 수정 불가능:  int, float, str, bool, tuple
     + 수정 가능: list, dict, set

In [12]:
a = 10 
print(a)

a = 11
print(a)

a = 3.14
print(a) 

a = "Hi, Hello"
print(a)

#a= 3
print(a)

a = True 
print(a)

10
11
3.14
Hi, Hello
Hi, Hello
True

## 3.  Data type: 자료형

+ 종류
    1. 기본 자료형 (하나의 데이터만 사용 가능)...immutable(변경불가능)
        * int
        * float
        * str  (중요)
        * bool
    
    2. 집합 자료형 (여러 개의 데이터 사용 가능) !!! 
        * list
        * tuple
        * dict
        * set

In [14]:
a = 10
print(type(a))

a = 3.14
print(type(a))

<class 'int'>
<class 'float'>

### (1) str

In [29]:
#문자열 저장, 주석!!! (code에서는 주석 != markdown에서는 글자크기)
#코드에 적절한 주석은 반드시 필수적이다. but  너무 당연한 것은 하지 않음

a = 10
print(type(a))

a = '10'
print(type(a))

a = '안녕 나는 윤하입니다'
print(a)

a = '제 이름은 "기윤하"라고 합니다'
print(a)


a = """안녕하세요
    제 이름은 기윤하입니다.
    만나서 반갑습니다~."""
print(a)

<class 'int'>
<class 'str'>
안녕 나는 윤하입니다
제 이름은 "기윤하"라고 합니다
안녕하세요
    제 이름은 기윤하입니다.
    만나서 반갑습니다~.

In [46]:
## 특수문자(제어 문자) :\문자 ...  \(escape문자)  (\n,\t)주로 출력 모양을 조정

a = '이것은 파이썬입니다. \n열심히 공부합시다.'
print(a)

a = '이것은 파이썬입니다. \\n열심히 공부합시다.'  #기능 해제
print(a)

a = '\n여기서부터 \n\n두번 줄바꿈을 해보겠습니다.' 
print(a)

a = '현재 시간은 \t4시 입니다'  #탭 키 기능
print(a)


#문제:  "\t는 탭키의 기능이다."
a = '"\\t는 탭키의 기능이다."'   #또는 print("\"\\t는  ~ ")
print(a)

이것은 파이썬입니다.
열심히 공부합시다.
이것은 파이썬입니다. \n열심히 공부합시다.

여기서부터

두번 줄바꿈을 해보겠습니다.
현재 시간은 	4시 입니다
"\t는 탭키의 기능이다."

In [49]:
###  \를 줄바꿈의 용도로 사용, 결과상으로는 이어지지만 코드는 다음 줄에 이어진다.

a = "10 + 2 - 3 \
+ 5 * 2"
print(a)

10 + 2 - 3 + 5 * 2

In [54]:
### 문자열을 연결하기

a = "python"
b = " is fun"
c = " and great"

d = a, b, c
print(d)

d = a + b + c
print(d)

('python', ' is fun', ' and great')
python is fun and great

In [56]:
#### 문자열 곱하기(반복)

print(a * 3)

pythonpythonpython

In [57]:
### 문자열의 길이

print(len(a))
print(len(b))
print(len(c))

6
7
10

In [69]:
### 인덱싱(indexing)  : 원하는 문자에 접근할 수 있는 방법

a = "Life is too short, You need python"

print(a[3])
print(len(a))

print("-------------------")
print(a[-1])
print(a[len(a)-1])    #len-1 하면 맨 뒤 (33번째)

e
34
-------------------
n
n

In [74]:
### 슬라이싱(slicing) -> [시작위치 : 끝위치] ...끝위치의 바로 앞인 (n-1)까지 출력! -일때 주의

print(a[0:6])
print(a[:6])
print(a[6:])
print(a[:])
print(a[19:-7])    # 실제 출력은 -7-1임을 주의

Life i
Life i
s too short, You need python
Life is too short, You need python
You need

In [77]:
#### [시작위치 : 끝위치 : step]

print(a[::1]) #1칸씩 건너뛰어서 접근
print(a[::2])
print(a[::-1]) #뒤부터 거꾸로 접근

Life is too short, You need python
Lf stosot o edpto
nohtyp deen uoY ,trohs oot si efiL

In [79]:
#### 수정 불가

a = 'pithon'   
# a[1] = 'y' 수정 불가! 에러 뜬다.

'i'

In [49]:
#### 문자열 관련 함수

# count: 특정 데이터의 갯수

str1 = "홍길동, 홍경래, 홍장군, 임경업, 신돌석"

print(len(str1))
print(str1.count("홍"))


print("-----------------------------------------------------------------")


# join()
str1 = "abcdefg"
print(",".join(str1))  #csv형태에서 ,로 데이터 구분 많이 해놓는다.
print("-".join(str1))


print("-----------------------------------------------------------------")


# split()    
str1 = "홍길동, 홍경래, 홍장군, 임경업, 신돌석"
print(str1.split(","))     # ,기준으로 5개 문자열로 나눠서 나온다.


print("-----------------------------------------------------------------")

 
#find(), index()          #찾고자 하는 문자의 위치 반환
print(str1.find("길"), str1.find("돌"), str1.find("별"))   #없는 문자 찾으면 -`
print(str1.index("길"), str1.find("별"))     #없는 문자 찾으면 에러


print("-----------------------------------------------------------------")


#lsrtip(), rstrip(), strip()   #왼쪽, 오른쪽, 양쪽에 있는 특정 문자 제거(공백제거시)
str1 = "               python"

print(str1.lstrip())
print(str1.rstrip("n"))
print(str1.strip("p , n"))

str1 = "python.,"
print(str1.rstrip(".,"))


#문제
str1 = "홍길동, 홍경래, 홍장군, 임경업, 신돌석"
a = (str1.split(","))
print(a[0], (a[1]).lstrip(), (a[2]).lstrip(), (a[3]).lstrip(), (a[4]).lstrip())


print("-----------------------------------------------------------------")


# replace(), [maketrans(), translate()]
str1 = "Hello, World!"
print(str1.replace("World" , "Python"))

str1 = "일이삼사오육칠팔구"
print(str1.replace("일이삼사오육칠팔구" , "123456789"))
print(str1.translate(str1.maketrans("일삼오" , "135")))    #문자열 중간도 바꿀수 있다.

23
3
-----------------------------------------------------------------
a,b,c,d,e,f,g
a-b-c-d-e-f-g
-----------------------------------------------------------------
['홍길동', ' 홍경래', ' 홍장군', ' 임경업', ' 신돌석']
-----------------------------------------------------------------
1 21 -1
1 -1
-----------------------------------------------------------------
python
               pytho
ytho
python
홍길동 홍경래 홍장군 임경업 신돌석
-----------------------------------------------------------------
Hello, Python!
123456789
1이3사5육칠팔구

In [116]:
#### 문자열 포맷팅 : %, format()

### %를 이용하는 방법
print("현재 온도는 %ddegree 입니다. 그리고 오늘의 날씨는 %s입니다.\n "  %(15 ,"맑음"))

#문제 __ 나눗셈의 결과:  3 / 5 = 0.6 입니다.
print("%s의 결과 : %d %c %d = %f"  %("나눗셈", 3, "/", 5, (3/5)))
print("%5s의 결과 : %d %c %d = %f"  %("나눗셈", 3, "/", 5, (3/5)))   #글자위치위해 %뒤에 숫자 삽입
print("%-5s의 결과 : %d %c %d = %f"  %("나눗셈", 3, "/", 5, (3/5)))   #왼쪽 정렬
print("%-5s의 결과 : %d %c %d = %0.2f"  %("나눗셈", 3, "/", 5, (3/5)))  #소수점 둘쨋자리까지 표시


### format()을 사용하는 방법
print("{}의 결과 : {} {} {} = {} 입니다." .format("나눗셈", 3, "/", 5, (3/5)))  #함수이므로 .format 으로 사용함
print("{3}의 결과 : {0} {1} {2} = {4} 입니다." .format("나눗셈", 3, "/", 5, (3/5)))   #{}안에 순서 지정
print("{title}의 결과 : {num1} {operator} {num2} = {result} 입니다."
      .format(num1 = 3, title = "나눗셈", operator = "/", num2 = 5, result = (3/5)))   #변수 이름 지정

print("{3:*>10}의 결과 : {0} {1} {2} = {4:0.2f} 입니다." .format("나눗셈", 3, "/", 5, (3/5)))
      # 위치:자릿수 생성,   
      # < 왼쪽정렬, > 오른쪽 정렬
      # * : 빈 공간 채우기, 모양꾸미기 용도
      # 0.2f 소숫점 2쨋자리까지 표시

현재 온도는 15degree 입니다. 그리고 오늘의 날씨는 맑음입니다.

나눗셈의 결과 : 3 / 5 = 0.600000
  나눗셈의 결과 : 3 / 5 = 0.600000
나눗셈  의 결과 : 3 / 5 = 0.600000
나눗셈  의 결과 : 3 / 5 = 0.60
나눗셈의 결과 : 3 / 5 = 0.6 입니다.
5의 결과 : 나눗셈 3 / = 0.6 입니다.
나눗셈의 결과 : 3 / 5 = 0.6 입니다.
*********5의 결과 : 나눗셈 3 / = 0.60 입니다.

----------

### (2) bool

In [132]:
a = False
print(a)
print(type(a))

print("-------------------------------------------------------")

print(bool(10), bool(3.14), bool(-2), bool(0), bool(-0))    #0제외 모든 수는 다 true
print(bool("가"), bool(' '), bool(''))   #공백은 (문자)참, 값이 없는 것은 거짓

a = None
print(bool(a))

False
<class 'bool'>
-------------------------------------------------------
True True True False False
True True False
False

### (3) list
+ [     ] 사용
+ 임의의 객체를 순차적으로 저장하는 집합적 자료형 (Sequence Data) 
+ 인덱스 사용
+ mutable (수정 가능)

In [141]:
#a = 10
#b = 11
#c = 12

a, b, c = 10, 11, 12   #기본자료형- int

d= [10, 11, 12]   #집합자료형- list

print(type(a), type(d))
print(a)

print(d)
print(d[0], d[1])

e = ["james", 178, 3.14, True]  #파이썬에서 가장 많이 쓰는 자료형 list
print(e[2])

<class 'int'> <class 'list'>
10
[10, 11, 12]
10 11
3.14

In [146]:
#### indexing

a = [1, 2, 3, "가", 3.14, ['a', 'b', 'c']]
print(a[5][1])  
print(a[-1][-2])
print(a.index("가"))

b
b
3

In [9]:
#### 복사(얕은 복사, 깊은 복사)

a = [1, 2, 3, 4, 5]

b = a    #데이터는 그대로 하나, b는 a가 가르키는 주소만 복사한다. : 얕은 복사
b[0] = 10
print(a, b)   #b의 원소를 바꿨지만 결국 가르키는 데이터는 하나, 같으므로 a출력해도 바뀐다.


print("-------------------------------------------------------")

a = [1, 2, 3, 4, 5]

b = a[0:5]  #a가 가르키는 주소에 있는 데이터 자체를 복사해 b에 담는다 : 깊은 복사
            #b = a[:]

b[0] = 100
print(a, b)  #n-1까지이므로 0:4 가 아니라 0:5로 써야 인덱스 4까지 된다.
            #데이터 자체를 새로 복사해서 (b에)담았으므로 b의 원소를 바꾸면 a는 영향 없음

[10, 2, 3, 4, 5] [10, 2, 3, 4, 5]
-------------------------------------------------------
[1, 2, 3, 4, 5] [100, 2, 3, 4, 5]

In [10]:
#### list의 생성

a = []
a = list()  #정식 표기

print(type(a))

<class 'list'>

In [1]:
#### 각 자료형 함수(참고사항)

a = '10'
print(int(a), type(int(a)))   #문자 10 -> 정수 10으로 변환
print(str(a), type(str(a)))
print(float(a), type(float(a)))
print(bool(a), type(bool(a)))

print("\n")

print(list(a), type(list(a))) 
print(list([a]), type(list([a]))) 

print("\n")

b = '가나'
print(list([b]), type(list([b])))

10 <class 'int'>
10 <class 'str'>
10.0 <class 'float'>
True <class 'bool'>


['1', '0'] <class 'list'>
['10'] <class 'list'>


['가나'] <class 'list'>

In [44]:
#### list 초기화

a = 10  #변수 생성 후 첫 값 : 초기화
a = 5  #초기화 아님

b = list([1,2,3])  #초기화
print(b)

c = list(range(0, 10))    #0~10까지 범위의 숫자를 생성
print(c)

c= list(range(20))
print(d)

c = list(range(0, 20, 2))  #step 설정- 2씩 띄어서
print(c)

c = list(range(5, 12, 2))
print(c)

c = list(range(-4, 5))   #n-1임을 주의
print(c)

a = list(range(10, 0, -1))
print(a)

[1, 2, 3]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[5, 7, 9, 11]
[-4, -3, -2, -1, 0, 1, 2, 3, 4]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [3]:
#### 연산기능

a = [1, 2, 3]
b = [4, 5, 6]

print(a + b) 
print(a * 3)   #값끼리의 연산 아님, 그냥 반복

print(str(a[1]) +" " "hi~~")   #연결해주려면 둘 다 같은 형식이어야 함
print(str(a[1]) ," " "hi~~")

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
2 hi~~
2  hi~~

In [82]:
#### 추가하기 : insert(), append(), extend()

a = [1, 2, 3]
print(a)

a.insert(2, 100)  #원하는 위치에 추가할 수 있음
print(a)             # print(a.insert(2, 100))  이렇게 바로하면 안 됨
   
a.append(4)      # 맨 뒤에 추가
print(a)

a.extend(list([5]))  # 맨 뒤에 추가/ list모양으로 추가! (하나를 추가하더라도 리스트로)
print(a)
    
a.extend(list([6, 7, 8]))  # 맨 뒤에 추가/ list모양으로 추가! (하나를 추가하더라도 리스트로)
print(a)                   #각자 추가됨

a.append([100, 200, 300])  # append 리스트로 추가하면, 리스트 통째로 추가
print(a)

[1, 2, 3]
[1, 2, 100, 3]
[1, 2, 100, 3, 4]
[1, 2, 100, 3, 4, 5]
[1, 2, 100, 3, 4, 5, 6, 7, 8]
[1, 2, 100, 3, 4, 5, 6, 7, 8, [100, 200, 300]]

In [13]:
#### 정렬

a = [1, 4, 3, 2]

a.sort()     # a의 실제 데이터가 변경 (a가 가르키는 주소값의 데이터를 정렬)
print(a) 

a = [1, 4, 3, 2]
print(sorted(a))      # 정렬 결과를 별도로 저장, a의 실제 데이터는 불변

a = sorted(a)   #a: 정렬결과가 별도로 저장된 주소를 가르킨다. 
print(a)            #원래 a가 가르키던 원본 데이터는 garbage된다


a.reverse()
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 4, 3, 2]
[1, 2, 3, 4]
[4, 3, 2, 1]

In [18]:
#### 제거

# 범위를 지정해서 제거
a = [1,2,3,1,2,3]
a[1:3] = []
print(a)


# 값을 찾아서 삭제
a = [1,2,3,1,2,3]
a.remove(2)       #처음으로 나오는 2제거
print(a)


#위치를 찾아서 삭제
del a[1]
print(a)


print("----------------------------------------------")


#전체 데이터 삭제

a[:] = []
print(a)


b = [1,2,3,1,2,3]
del b[:]               #del b 하면 변수 자체를 삭제, print(b)안된다.
print(b)


# stack    (잠깐 사용할 데이터 보관용도임)
a= [1,2,3]
b= a.pop()    #1,2,3순서로 들어갔음, 3이 먼저 나옴
print(b, a)

b = a.pop()
print(b, a)

[1, 1, 2, 3]
[1, 3, 1, 2, 3]
[1, 1, 2, 3]
----------------------------------------------
[]
[]
3 [1, 2]
2 [1]

In [35]:
#### 검색     :문자열에서 썼던 index()쓸 수 있다. 리스트에는 find는 없음

a = [1,2,3,4,5,6]
print(a.index(4))
#print(a.index(7))

print(3 in a)    #in 연산자: 값 있는지 없는지 확인 
print(7 in a)

3
True
False

---
#### (4) tuple

+ ( )사용
+ immutable ( data를 보호하며 사용 가능)
+ immutable 빼곤 리스트와 같다,

In [38]:
a = ('a', 'b', 'c', 5, 6)
print(type(a))
print(a.count('c'))
print(a.index(6))

<class 'tuple'>
1
4

In [45]:
#a[1] = 10
b = list(a)     #tuple -> list 
print(type(b))

print(a)
print(b)

b[2] = 10    #list는 변경 가능 mutable     ***
print(b)

c = tuple(b)   #list-> tuple      **
print(c)

<class 'list'>
('a', 'b', 'c', 5, 6)
['a', 'b', 'c', 5, 6]
['a', 'b', 10, 5, 6]
('a', 'b', 10, 5, 6)

In [49]:
##### packing과 unpacking 자동적으로!!!  (list 와 tuple의 차이점)   ***

a = 10, 20, 30     # 3개 값을 '하나의 변수에' -> tuple로 packing
print(a)

a1, a2, a3 = a     # unpacking
print(a1, a2, a3)

(10, 20, 30)
10 20 30

---
#### (5) dict (dictionary)     
##### *매우 중요
+ 순서가 없다. (인덱스가 없다)
+ {키:값, 키:값, 키:값  ....}
+ 키를 이용하여 값을 조회 
+ 검색 목적일때만 쓰기

In [3]:
a = {1:"가"}
print(a)

a[2] = 'b'
print(a)

a[0] = 'a'      # *순서, 인덱스가 없다!
print(a)


b = {"name": "윤하", "tel":'111-1111', 'age': '24'}
print(b)
print(type(b))

{1: '가'}
{1: '가', 2: 'b'}
{1: '가', 2: 'b', 0: 'a'}
{'name': '윤하', 'tel': '111-1111', 'age': '24'}
<class 'dict'>

In [63]:
print(b['name'], b['tel'], a[0])     # 키를 이용하여 값 조회

윤하 111-1111 a

In [5]:
print(b.keys())
print(b.values())
print(b.items())

dict_keys(['name', 'tel', 'age'])
dict_values(['윤하', '111-1111', '24'])
dict_items([('name', '윤하'), ('tel', '111-1111'), ('age', '24')])
{'name': '윤하', 'tel': '111-1111', 'age': '24'}

In [72]:
#dict는 자동화(반복)을 위해 list형식으로 바꿔야 할 경우가 존재한다.

c = b.items()
print(type(c))     #dict와도 다른 또 하나의 자료형 dict_items

c = list(b)        #dict-> list 한다면 key값만 list만 된다... ***
print(c)
print(type(c))

c = list(b.items())   # list(tuple)  형태.....하려면 .items()를 list로!   ***
print(c)
print(type(c))

print(c[0], c[1][1])   #list가 됐기 때문에 인덱스 사용 가능

<class 'dict_items'>
['name', 'tel', 'age']
<class 'list'>
[('name', '윤하'), ('tel', '111-1111'), ('age', '24')]
<class 'list'>
('name', '윤하') 111-1111

In [74]:
#### 수정 (=list)   /dict를 수정하려면? .items()를 list로 변환후 인덱스를 사용해 수정

b['name'] = "홍길동"
print(b)

{'name': '홍길동', 'tel': '111-1111', 'age': '24'}

In [75]:
#### 추가

b["hobby"] = ["낚시", "여행", "독서"]
print(b)

{'name': '홍길동', 'tel': '111-1111', 'age': '24', 'hobby': ['낚시', '여행', '독서']}

In [76]:
#### 삭제 (두번 실행하면 에러난다~)   : del b["키값"]

del b["tel"]
print(b)

{'name': '홍길동', 'age': '24', 'hobby': ['낚시', '여행', '독서']}

In [77]:
b.clear()       #모조리 삭제
print(b)

{}

In [82]:
#### 데이터 가져오기 :get("key", default)

a = {"name": "윤하", "tel":'111-1111', 'age': '24'}
print(a["name"])
print(a.get("name"))

#print(a["hobby"]) 는 에러
print(a.get("hobby", "노래듣기"))      # get: 값이 없을 때 기본 값 설정 가능

윤하
윤하
노래듣기

---
#### (6) set

+ {} 사용
+ 순서가 없다 (인덱스가 없다!!)
+ 중복 불가 **

In [84]:
a = {1,2,3,4,5,4}
print(a)               #중복 데이터는 빠져서 출력
print(type(a))

{1, 2, 3, 4, 5}
<class 'set'>

In [87]:
# print(b[0])  순서, 인덱스가 없으므로 꺼내올 수 없다 -> 데이터 사용하려면 list로 바꾸기

b = list(a)
print(b)
print(b[0])

[1, 2, 3, 4, 5]
1

In [88]:
#### 집합 연산   <- set 사용


s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}

# 합집합
print(s1.union(s2))       # 중복 빼고 출력

#교집합
print(s1.intersection(s2))

#차집합
print(s1.difference(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3}

In [95]:
#### CRUD

#여러 개 추가 :update
s1.update({7,8})    #중괄호 {} 써야함
print(s1)

#한 개 추가 :add
s1.add(9)
print(s1)

# 삭제 :remove    없는 값 삭제 시 에러 , discard
s1.remove(9)
print(s1)

s1.discard(8)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7}

In [98]:
###중복된 데이터를 제거하고 재구성

data = [1,2,3,4,4,5,2]
a = list(set(data))      #data = list(a) 하면 기존 data가 바뀐다!
print(a)

[1, 2, 3, 4, 5]

----
## 4. Operator 연산자

    1) 산술 연산자
        *   /   +   -   %(나머지)   //(몫)  **(제곱)


    2) 비교 연산자
        >    <    >=    <=    ==(같다)   !=
        
    
    3) 논리 연산자
        and       or      not(단항 연산자, toggle 연산자)
        
        x  y             x and y       x  or y     not x      not y   x ^ y
        -------------------------------------------------------------------------------
        T  T              = T             T         F         F        F
        T  F              = F             T         F         T        T
        F  T              = F             T         T         F        T
        F  F              = F             F         T         T        F
        
        
    
    4) 대입 연산자
      =   +=   -=    *=    ...
    
    
    5) 포함 여부 연산자 
      in     not in
      
    6) 비트 연산자
       &(and)    |(or)     ^(xor):exclusive or ...암호화 복호화

In [103]:
#### 대입 연산자
a = 1
a = 3
a = 5
print(a)


b = 1
b +=3
b +=5
print(b)

5
9

In [6]:
#### 비트 연산자
a = 7
b = 3

result = a>3 and b<5
print(result)

result = a>3 & b<5    #비트연산자
print(result)

result = a & b    # ?
print(result)

True
True
3

In [118]:
# ^(xor): 암호화 복호화

data = 980980
key = 38976542

encode = data ^ key
print("암호화 : ", encode)

print("---------------------------------------")

decode = encode ^ key
print("복호화: ", decode)

암호화 :  39603178
---------------------------------------
복호화:  980980