## 1. 파이썬과 MySQL활용

+ 파이썬과 MySQL을 연결해주는 모듈: mysqlclient, PyMySQL  둘 중 암거나
    - pip install mysqlclient
    - pip install PyMySQL

In [5]:
#### mysqlclient 모듈을 이용한 연결 테스트

import MySQLdb

conn = MySQLdb.connect(host="127.0.0.1", user="root", password="1111", database="testdb")
print(conn)     ##testdb의 주소값
conn.close()

<_mysql.connection open to '127.0.0.1' at 000002BCA23B63C0>

In [8]:
#### PyMySQL 모듈을 이용한 연결 테스트

import pymysql

conn = pymysql.connect(host="127.0.0.1", user="root", password="1111", database="testdb")
print(conn)
conn.close()

<pymysql.connections.Connection object at 0x000002BCA2FF1FA0>

In [9]:
config = {"host":"127.0.0.1", "user":"root", "passwd":"1111", "database":"testdb"}

In [11]:
conn = pymysql.connect(**config)      ## dict형식에 주소 담아놓기
print(conn)
conn.close()

<pymysql.connections.Connection object at 0x000002BCA2FF1CD0>

### (1) SELECT

In [26]:
conn = MySQLdb.connect(**config)

sql = "select * from emp limit 5"

cur = conn.cursor()     #명령어를-> db, 실행, 결과있으면 가져오는 객체
cur.execute(sql)

#print(cur)      #결과값

#for data in cur:
#    print(data)

for a, b, c, d, e, f, g, h in cur:
    print(a, b, c, d, e, f, g, h)


print("-----------------------------------------------------------------")

result = []
for data in cur:
    result.append(data)

conn.close()          #데이터는 변수에 넣고, db연결은 짧을수록 좋다.

print(result)

7369 SMITH CLERK 7902 1980-12-17 00:00:00 800.0 None 20
7499 ALLEN SALESMAN 7698 1981-02-20 00:00:00 1600.0 300.0 30
7521 WARD SALESMAN 7698 1981-02-22 00:00:00 1250.0 500.0 30
7566 JONES MANAGER 7839 1981-04-02 00:00:00 2975.0 None 20
7654 MARTIN SALESMAN 7698 1981-09-28 00:00:00 1250.0 1400.0 30
-----------------------------------------------------------------
[(7369, 'SMITH', 'CLERK', 7902, datetime.datetime(1980, 12, 17, 0, 0), 800.0, None, 20), (7499, 'ALLEN', 'SALESMAN', 7698, datetime.datetime(1981, 2, 20, 0, 0), 1600.0, 300.0, 30), (7521, 'WARD', 'SALESMAN', 7698, datetime.datetime(1981, 2, 22, 0, 0), 1250.0, 500.0, 30), (7566, 'JONES', 'MANAGER', 7839, datetime.datetime(1981, 4, 2, 0, 0), 2975.0, None, 20), (7654, 'MARTIN', 'SALESMAN', 7698, datetime.datetime(1981, 9, 28, 0, 0), 1250.0, 1400.0, 30)]

### (2) INSERT

In [36]:
conn = MySQLdb.connect(**config)

sql = """create table if not exists tbltest(
    empno int,
    ename  varchar(10),
    sal int,
    job varchar(10)
)"""

cur = conn.cursor()
cur.execute(sql)

sql = "insert into tbltest(empno, ename, sal) values(1, 'scott', 5000)"
cur.execute(sql)
conn.commit()       # 자동 커밋 아니므로 커밋 잊지말자!
 
conn.close()    # close 전에 이 창 반복해서 실행하면 계속 insert되므로 참고

In [43]:
empno = 2
ename = "miller"
sal = 1300

conn = MySQLdb.connect(**config)
cur = conn.cursor()

sql = "insert into tbltest(empno, ename, sal) values(" \
     +str(empno) +", '"+ str(ename) + "', " + str(sal)+ ")"      #앞뒤 +와, 문자열엔 홑따옴표 추가 잊지말자!
#print(sql)         

cur.execute(sql)
conn.commit()

conn.close()       # execute, commit, close를 쓰고 한번에 실행시켜야 두번 들어가지 않는다.

In [45]:
# 추천방식! 

empno = 3
ename = "tom"
sal = 2000

conn = MySQLdb.connect(**config)
cur = conn.cursor()

sql = "insert into tbltest(empno, ename, sal) values(%s, %s, %s)"   #자리만잡고 값 나중에 따로 넘겨주기
sql_data = (str(empno), str(ename), str(sal))

cur.execute(sql, sql_data)    # 2개 전달
conn.commit()

conn.close()

In [47]:
empno = 4
ename = "jerry"
sal = 2500

try: 
    conn = MySQLdb.connect(**config)
    cur = conn.cursor()
    
    sql = "insert into tbltest(empno, ename, sal) values(%s, %s, %s)"   #자리만잡고 값 나중에 따로 넘겨주기
    sql_data = (str(empno), str(ename), str(sal))

    cur.execute(sql, sql_data)    # 2개 전달
    conn.commit()
    
except Exception as e:
    print("error: ", e)
    
finally: 
    conn.close()    # 에러가 나도 db연결은 끊도록

In [48]:
#### 데이터 여러 개 입력하기

conn = MySQLdb.connect(**config)
cur = conn.cursor()

for i in range(10):
    sql = "insert into tbltest(empno, ename, sal) values(5, 'jerry', 10000)"
    cur.execute(sql)
    conn.commit()
conn.close()

### (3) Cursor

#### 1) fetchall(), fetchmany(), fetchone()
   + default는 fetchall()

In [53]:
try: 
    conn = MySQLdb.connect(**config)
    cur = conn.cursor()
    
    cur.execute("select * from tbltest")   # cur로 받아왔다
   
    #for i in cur.fetchall():       # 원래 fetchall()은 생략돼있었다.
    #   print(i)
    #for i in cur.fetchmany(5):     # 5개만 가져오겠다
    #    print(i)
    print(cur.fetchone())           # 1개만 가져온다. 결과가 1개일때 쓰면 좋다.
    
finally:
    conn.close()

(1, 'scott', 5000, None)

#### 2) DictCursor

+ 필드명을 인덱스 대신 키로 사용

In [56]:
try: 
    conn = MySQLdb.connect(**config)
    cur = conn.cursor(MySQLdb.cursors.DictCursor)   # 괄호안에 명시
    
    cur.execute("select * from tbltest")
    
    for i in cur.fetchall():
        #print(i[0], i[1], i[2])
        print(i["empno"], i["ename"], i["sal"])    #키로 
        
finally:
    conn.close()

1 scott 5000
1 scott 5000
1 scott 5000
2 miller 1300
2 miller 1300
3 tom 2000
4 jerry 2500
4 jerry 2500
5 jerry 10000
5 jerry 10000
5 jerry 10000
5 jerry 10000
5 jerry 10000
5 jerry 10000
5 jerry 10000
5 jerry 10000
5 jerry 10000
5 jerry 10000

## 2. 응용 예제

### (1) CSV파일을 DB에 저장

In [74]:
import csv

file  = csv.reader(open("data/input.csv"))
#print(file)

#print(next(file))     # 첫번째 줄을 읽어오고, 그 포인터를 다음줄로 이동, 준비
#print(next(file)) 
#print(next(file)) 
#print(next(file)) 
#print(next(file)) 

next(file)   # 첫 줄(컬럼명)은 뛰어넘기 위함(데이터만 넣을 수 있도록) 

try: 
    conn = MySQLdb.connect(**config)
    cur = conn.cursor()   
    
    cur.execute("delete from suppliers")   # 여러 번 실행해도 누적되지 않게 기존의 것 지운다
    
    for row in file:
        #print(row)      # 한줄 
        cur.execute("insert into suppliers values(%s, %s, %s, %s, %s)", row)  #속성 갯수
    conn.commit()
        
finally:
    conn.close()

### (2) DB에서 가져운 데이터를 파일로 저장

In [81]:
## 중요!!! 다시 보기

try: 
    conn = MySQLdb.connect(**config)
    cur = conn.cursor()   
    
    cur.execute("select * from suppliers where cost> 500000") 
    
    #for i in cur:
    #    print(i)
    
    file = csv.writer(open("data/output.csv", "w"), delimiter = ",")    # 콤마를 기준으로 저장한다.
    
    header = [" Supplier Name", "Invoice Number", "Part Number","Cost","Purchase Date"]
    file.writerow(header)  # 제목 먼저 저장..2번 실행해야 내용 들어간다~
    
    for row in cur:
        file.writerow(row)    
    
finally:
    conn.close()

## 3. 파이썬과  SQLite

#### (1) 로컬로 사용할 수 있는 DBMS

+ Access
+ SQLite
+ Microsoft SQL Server Compact Edition
+ Firebird Embeded Server
+ H2
+ HSQL
+ Apache Derby

#### (2) 특징

+ 파일기반의 DBMS, 저메모리, 빠른 처리 속도
+ 오픈 소스
+ 별도의 DB서버없이 쉽고 편리하게 사용할 수 있는 Embeded SQL DB엔진
+ 안드로이드, 아이폰 등의 스마트폰에 기본 내장된 DB
+ 파이썬에 내장
+ 표준 SQL 지원

---

+ 컬럼을 삭제하거나 변경하는 것 등이 제한
+ Left Outer Join만 지원
+ 읽기 전용 뷰만 제공


#### (3) 공식 사이트
+ http://sqlite.org


#### (4) 클라이언트 툴
+ http://www.sqliteexpert.com    에서 sqllite64bit다운

In [1]:
import sqlite3

In [2]:
print(sqlite3.version)           # python과 DB연결 모듈
print(sqlite3.sqlite_version)    # DB

2.6.0
3.35.4

In [4]:
conn = sqlite3.connect("data/sqlitetest.db")            # DB와 바로 연결, 내 컴퓨터 안의 DB
print(conn)              # 위 경로에 sqlitetest.db라는 DB 자동으로 만들어줌, 혼자쓰는 DB이므로 아이디, 비번 필요 없다.
conn.close()

<sqlite3.Connection object at 0x000001807D69F210>

In [5]:
##### Select

conn = sqlite3.connect("data/sqlitetest.db")
cur = conn.cursor()

cur.execute("select * from tblbook")
for row in cur:
    print(row)
    
conn.close()

('최주현', '하늘과 땅')
('최주현', '바다')
('유은정', '바다')
('박성우', '문')
('최주현', '문')
('박성우', '천국')
('최지은', '천국')
('최주현', '천국')
('박성우', '고슴도치')
('서금동', '나')

In [6]:

conn = sqlite3.connect("data/sqlitetest.db")
cur = conn.cursor()

cur.execute("select * from tblMember")
for row in cur:
    print(row)
    
conn.close()

(1, '홍길동', '2020-12-25')
(2, '임꺽정', '2022-01-05')

In [13]:
##### 자동으로 DB생성하고 테이블 생성

conn = sqlite3.connect("data/auto.db")        
cur = conn.cursor()           # 위 경로에 DB 자동으로 생성

sql = """
    create table if not exists tblmember(       
        id   int,
        name   varchar(10)
    )
"""
# if not exsits 부분 없으면 테이블 존재할경우, 에러남

cur.execute(sql)
conn.commit()          # 커밋해야 트랜잭션 처리가능

cur.execute("insert into tblmember values(1, '홍길동')")        # 실행할때마다 삽입
conn.commit() 

cur.execute("select * from tblmember")
for row in cur:
    print(row)
    
    
conn.close()


##### DB에 테이블 직접 생성 (sqlexpert 사용안하고)

(1, '홍길동')
(1, '홍길동')
(1, '홍길동')
(1, '홍길동')
(1, '홍길동')

In [21]:
##### CSV파일을 읽어들여서 DB에 저장     (DB에 table구조는 만들어놔야함)

import csv

conn = sqlite3.connect("data/auto.db")        
cur = conn.cursor()           

# 테이블 조회
tables = cur.execute("select * from sqlite_master where type='table'")   # sqlite_master : 기본 메타정보
for i in tables:
    print(i[1])         # auto.db 안 테이블 이름 조회
    

file = csv.reader(open("data/input.csv", "r"), delimiter=",")       # 불러오기
#for i in file:
#    print(i)
    
next(file)

for row in file:
    cur.execute("insert into tblInput values(?, ?, ?, ?, ?)", row)
conn.commit()
conn.close()

tblmember
tblInput